[Desktop Entry]
Name=Ubuntu Theme Tune
Comment=Play the Ubuntu theme tune after logging in
Type=Application
Exec=paplay share/music/Ubuntu_theme.ogg
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
